body{
	background-color:#F4E99E;
}
h1{
	color:#6F6FEC;
    font-size:90px;
}
p{
	color:#FB0B1B;
    font-size:25px;
}

h2{
	font-size:40px;
    color:#4E8DFB;
}
p.amine{
	font-size:30px;
    color:#777777;
}
h1.papa{
	color:red;
    font-size:40px;
}
ol{
	color:#9F7208;
    font-size:23px;










  